/* Importing the fonts */
@font-face {
  font-family: Lato-Regular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Black;
  src: url("../assets/fonts/Lato-Black.ttf");
}

/* Styles for the body content */
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: var(--color-background-dark-gradient);
  font-family: Lato-Regular, sans-serif;
  color: var(--text-color-light);
}

/* Styles for the main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.collection {
  width: 100%;
  height: 100%;
}

.list {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: var(--spacing-small);
}

.add-container {
  position: fixed;
  bottom: 75px;
  right: 25px;
}

.add-button {
  min-width: 100px;
  min-height: 64px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-background-medium);
  cursor: pointer;
  font-size: 50px;
}
